# Criado por https://www.toptal.com/developers/gitignore/api/visualstudiocode,reactnative
# Edite em https://www.toptal.com/developers/gitignore?templates=visualstudiocode,reactnative

### ReactNative ###
# Base de pilha do React Native

.exposição
__gerado__

### Pilha ReactNative.Node ###
# Registros
registros
*.registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Relatórios de diagnóstico (https://nodejs.org/api/report.html)
relatório.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dados de tempo de execução
PIDs
*.pid
*.semente
*.pid.bloqueio

# Diretório para bibliotecas instrumentadas geradas por jscoverage/JSCover
biblioteca-cov

# Diretório de cobertura usado por ferramentas como istanbul
cobertura
*.lcov

# cobertura de teste de nyc
.saída_nyc

# Armazenamento intermediário Grunt (https://gruntjs.com/creating-plugins#storing-task-files)
.grunhido

# Diretório de dependências do Bower (https://bower.io/)
componentes do bower

# configuração node-waf
.lock-wscript

# Complementos binários compilados (https://nodejs.org/api/addons.html)
construir/lançar

# Diretórios de dependência
módulos_nó/
pacotes_jspm/

# Diretório de dependências do Snowpack (https://snowpack.dev/)
módulos_web/

# Cache TypeScript
*.tsbuildinfo

# Diretório de cache npm opcional
.npm

# Cache eslint opcional
.eslintcache

# Cache stylelint opcional
.estilolintcache

# Cache de micropacote
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Histórico REPL opcional
.histórico_de_repl_node

# Saída de 'npm pack'
*.tgz

# Arquivo de integridade do fio
.integridade-do-fio

# arquivos de variáveis ​​de ambiente dotenv
.env
.env.desenvolvimento.local
.env.teste.local
.env.produção.local
.env.local

# cache do pacote-bundler (https://parceljs.org/)
.cache
.parcela-cache

# Saída da compilação Next.js
.próximo
fora

# Nuxt.js constrói / gera saída
.nuxo
distância

# Arquivos Gatsby
.cache/
# Comente na linha pública se seu projeto usa Gatsby e não Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# público

# saída da compilação vuepress
.vuepress/dist

# diretório temporário e de cache do vuepress v2.x
.temporário

# Cache do Docusaurus e arquivos gerados
.docusaurus

# Diretórios sem servidor
.sem servidor/

# Cache do FuseBox
.caixa de fusíveis/

# Arquivos locais do DynamoDB
.dynamodb/

# Arquivo de porta TernJS
.tern-port

# Armazena versões do VSCode usadas para testar extensões do VSCode
.vscode-teste

# fio v2
.fio/cache
.fio/desconectado
.yarn/estado-de-construção.yml
.yarn/estado-de-instalação.gz
.pnp.*

### Pilha ReactNative.macOS ###
# Em geral
.DS_Loja
.AppleDuplo
.LSOverride

# O ícone deve terminar com dois \r
Ícone


# Miniaturas
._*

# Arquivos que podem aparecer na raiz de um volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.Itens Temporários
.Lixos
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Diretórios potencialmente criados no compartilhamento AFP remoto
.AppleDB
.AppleDesktop
Pasta de lixo da rede
Itens temporários
.disco de ap

### Pilha ReactNative.Android ###
# Arquivos Gradle
.gradle/
construir/

# Arquivo de configuração local (caminho do SDK, etc.)
propriedades locais

# Arquivos de Log/SO

# Arquivos e pastas gerados pelo Android Studio
capturas/
.externalNativeBuild/
.cxx/
*.apk
saída.json

#IntelliJ
*.iml
.ideia/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Arquivos de keystore
*.jks
*.armazenamento de chaves

# Serviços Google (por exemplo, APIs ou Firebase)
serviços-google.json

# Criação de perfil do Android
*.hprof

### Pilha ReactNative.Xcode ###
## Configurações do usuário
xcuserdata/

## Xcode 8 e anteriores
*.xcscmblueprint
*.xccheckout

### Pilha ReactNative.Buck ###
sair dali/
.buckconfig.local
.buckd/
.versão buck
.versão falsa do buck

### Pilha ReactNative.Gradle ###
.gradle
**/construir/
!src/**/construir/

# Ignorar configuração da GUI do Gradle
gradle-app.configuração

# Evite ignorar o arquivo jar do wrapper do Gradle (arquivos .jar geralmente são ignorados)
!gradle-wrapper.jar

# Evite ignorar propriedades do wrapper Gradle
!gradle-wrapper.propriedades

# Cache do projeto
.gradletasknamecache

# Arquivos gerados pelo plugin Eclipse Gradle
# Núcleo Eclipse
.projeto
# Específico para JDT (Eclipse Java Development Tools)
.caminho de classe

### Pilha ReactNative.Linux ###
*~

# arquivos temporários que podem ser criados se um processo ainda tiver um identificador aberto de um arquivo excluído
.fuse_oculto*

# Preferências do diretório KDE
.diretório

# Pasta de lixo do Linux que pode aparecer em qualquer partição ou disco
.Lixo-*

# Os arquivos .nfs são criados quando um arquivo aberto é removido, mas ainda está sendo acessado
.nfs*

### Código do VisualStudio ###
.vscode/*
!.vscode/configurações.json
!.vscode/tarefas.json
!.vscode/launch.json
!.vscode/extensões.json
!.vscode/*.trechos-de-código

# Histórico local para o Visual Studio Code
.história/

# Extensões de código do Visual Studio criadas
*.vsix

### Patch do VisualStudioCode ###
# Ignorar todo o histórico local de arquivos
.história
.ionídeo

# Fim de https://www.toptal.com/developers/gitignore/api/visualstudiocode,reactnative